
<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>

        <link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css">

        <script type="text/javascript">
            function display_c(){
            var refresh=1000; // Refresh rate in milli seconds
            mytime=setTimeout('display_ct()',refresh)
            }

            function display_ct() {
            var strcount
            var x = new Date()
            document.getElementById('ct').innerHTML = x;
            tt=display_c();
            }


            function myFname()
            {
                var a;
                a=document.getElementById("input_1");
               
                if(a.length!=0)
                {
                    document.getElementById("firstname").style.cssText="color:blue; top:-10px; left:15px; font-size:12px;";
                }  
            }

            function myLname()
            {
                var a;
                a=document.getElementById("input_2");
               
                if(a.length!=0)
                {
                    document.getElementById("lastname").style.cssText="color:blue; top:-10px; left:15px; font-size:12px; border-color:white";
                }  
            }

            function myMobile()
            {
                var a;
                a=document.getElementById("input_3");
               
                if(a.length!=0)
                {
                    document.getElementById("mobilenumber").style.cssText="color:blue; top:-10px; left:15px; font-size:12px; border-color:white";
                }  
            }

            function myEmail()
            {
                var a;
                a=document.getElementById("input_4");
               
                if(a.length!=0)
                {
                    document.getElementById("email").style.cssText="color:blue; top:-10px; left:15px; font-size:12px; border-color:white";
                }  
            }

            function myPone()
            {
                var a;
                a=document.getElementById("input_5");
               
                if(a.length!=0)
                {
                    document.getElementById("password").style.cssText="color:blue; top:-10px; left:15px; font-size:12px; border-color:white";
                }  
            }


            function myPtwo()
            {
                var a;
                a=document.getElementById("input_6");
               
                if(a.length!=0)
                {
                    document.getElementById("confirm").style.cssText="color:blue; top:-10px; left:15px; font-size:12px; border-color:white";
                }  
            }
        </script>

    </head>
    <body onload="display_c()">
    <span id="ct">Wed Apr 01 2020 21:51:08 GMT+0530 (India Standard Time)</span>

        <h3 id="welcome">
            <p id="p_head">Welcome To</p>

        </h3>
        <h2 id="registration">Registration</h2>
        <div id="div_1">
            <form action="register" method="POST" id="form_1">
                {% csrf_token %}
                <div id="div_2">
                    <input oninput="myFname()" type="text" name="first_name" id="input_1">
                    <p id="firstname">First Name</p>
                </div>

                <div id="div_4">
                    <input oninput="myLname()" type="text" name="last_name" id="input_2">
                    <p id="lastname">Last Name</p>
                </div>

                <div id="div_6">
                    <input oninput="myMobile()" type="text" name="mobile_number" id="input_3">
                    <p id="mobilenumber">Mobile Number</p>
                </div>

                <div id="div_8">
                    <input oninput="myEmail()" type="email" name="email" id="input_4">
                    <p id="email">e-mail</p>
                </div>

                <div id="div_10">
                    <input oninput="myPone()" type="password" name="password1" id="input_5">
                    <p id="password">Password</p>
                </div>

                <div id="div_12">
                    <input oninput="myPtwo()" type="password" name="password2" id="input_6">
                    <p id="confirm">Comfirm</p>
                </div>

                <a href="/login" ><p id="p3">Login Here</p></a>
                <input type="submit" id="register" value="Register">
            </form>

            <div >
                {% for mes in messages %}
                    <h5 id="error">{{mes}}</h5>
                {% endfor %}
            </div>
    </div>




    </body>
</html>